.banner {
    color: black;
    text-align: right;
    padding: 32px;
    border-bottom: solid 1px black;
    display: flex;
    justify-content: space-between;
    align-items: center;
   
}

.logo
{
    width :20%
}

.menu {
display: flex;
list-style-type: none;
justify-content: center;
border-bottom: solid 1px black;
background-color: #FD2F04;
margin: 0;
}

.link {
    text-decoration: none;
    color : white;
    padding : 0 2rem;
    font-size: 1.2rem;
    font-weight: bold;
    transition-duration: .8s;
}

.link:hover {

    background-color: white;
    color : #FD2F04;
}
