.loginsignup {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 15px;
    box-shadow: 5px 5px 20px 5px rgba(0, 0, 0, 0.56);
    margin:2% 32%;
    
    padding: 2% 0;
   

}

.loginpic {
    max-width: 30%
}

.logform {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.loginsignup p {
    text-align: center;
    margin: 0;
}

.changelog {
    text-decoration: underline;
}

.changelog:hover {
    cursor: pointer;
}

.input {
    margin: .5rem 0 .5rem 1rem;
    font-size: 1rem;
    border-radius: 5px;
    width: 120%;
}

.loginsignup .button {
    align-self: center;
    color: white;
    font-weight: bold;
    background-color: #E02F04;
    border: 1px solid #E02F04;
    border-radius: 15px;
    padding: .7rem;
    margin : 2rem 0;
    transition-duration: .4s;
   
}

.button:hover {
    color: #E02F04;
    background-color: white;
    border: 1px solid #E02F04;
}

h1 {

    font-size: 1.5rem;;
}

textarea {

    resize: none;
}