#postForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 15px;
    box-shadow: 5px 5px 20px 5px rgba(0, 0, 0, 0.56);
    margin: 2% 32%;
    padding-top: 2%;
}

.button {
    align-self: center;
    color: white;
    font-weight: bold;
    background-color: #E02F04;
    border: 1px solid #E02F04;
    border-radius: 15px;
    padding: .7rem;
    transition-duration: .4s;
    cursor: pointer;
    width : 30%
}

.button:hover {
    color: #E02F04;
    background-color: white;
    border: 1px solid #E02F04;
}


textarea {
    width: 90%;
    height: 100%; 
 
    resize: none;
    border-radius: 15px;

}