@font-face {
    font-family: "arvobold";
    src: url("../assets/fonts/arvo-bold-webfont.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "arvobold_italic";
    src: url("../assets/fonts/arvo-bolditalic-webfont.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "arvoitalic";
    src: url("../assets/fonts/arvo-italic-webfont.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "arvoregular";
    src: url("../assets/fonts/arvo-regular-webfont.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}
