.directory {
    h1 {
        text-align: center;
    }

    table,
    td,
    thead {
        border-collapse: collapse;
        margin: auto;
        text-align: left;
    }

    td {
     
        border-bottom: 1px solid #ddd;
        padding-top: 1rem;
        padding-right: 2rem;
    }

    thead {
        font-weight: bold;
    }

    svg {
        width: 1rem;
    }

    tr:nth-child(even) {
        background-color: #dddddd;
    }
}
