.login {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: $radius;
    border: solid black 1px;
    margin: 2% 32%;
    padding: 2% 0;
    @media screen and (max-width: map-get($breakpoints, tablet)) {
        margin: 2% 2%;
        border: none
    }

    h1 {
        font-size: 1.5rem;
        @media screen and (max-width: map-get($breakpoints, tablet)) {
            font-size: 2rem;
        }
    }
    &__pic {
        max-width: 30%;
        @media screen and (max-width: map-get($breakpoints, tablet)) {
            max-width: 60%;
        }
    }

    &__form {
        display: flex;
        flex-direction: column;
        align-items: flex-end;

        &__input {
            margin: 0.5rem 0 0.5rem 1rem;
            font-size: 1rem;
            border-radius: 5px;
            @media screen and (max-width: map-get($breakpoints, tablet)) {
                font-size: 1.5rem;
            }
            
            
        }
        &__button {
            @include button;
            padding: .5rem;
            margin-top : 1rem;
            margin-bottom : 1rem;
            @media screen and (max-width: map-get($breakpoints, tablet)) {
            font-size: 1.2rem;    
            }

        }

        &__redirect {

            color : blue
        }
    }

    p {
        text-align: center;
        margin: 0;
        @media screen and (max-width: map-get($breakpoints, tablet)) {
            font-size: 1.2rem;
        }
    }
}
