.profile {
    border-radius: 15px;
    box-shadow: 5px 5px 20px 5px rgba(0, 0, 0, 0.56);
    margin: 2% 27%;
    padding: 2% 0;
}

.profile ul {
    list-style-type: none;
    line-height: 2rem;
    text-align: center;
}

.profile h1 {
    text-align: center;
}

.delete {
    color: white;
    font-weight: bold;
    font-size: .8rem;
    background-color: #E02F04;
    border: 1px solid #E02F04;
    border-radius: 15px;
    margin: auto;
    transition-duration: .4s;
    width: 30%;
    text-align: center;
    padding: 1%;
    cursor: pointer;
}

.delete:hover {
    color: #E02F04;
    background-color: white;
    border: 1px solid #E02F04;
}