.profile {
    border-radius: 15px;
    border: solid black 1px;
    margin: 2% 27%;
    padding: 2% 0;
    @media screen and (max-width: map-get($breakpoints, tablet)) {
        margin: 2rem 4%;
    }

   

    h1 {
        text-align: center;
        font-size: 1.5rem;
    }

    ul {
        list-style-type: none;
        line-height: 2rem;
        text-align: center;
        margin-left: 0;
        padding-left: 0;
    }

    &__buttons {
        text-align: center;

        &__publications,
        &__delete {
            @include button;
            font-size: .8rem;
            margin: 0 1rem;
            cursor: pointer;
        }
    }
}
