.publication {
    margin: 0 25%;

    h1 {
        text-align: center;
    }

    &__subtitle {
        text-align: center;
        font-style: italic;
    }
    &__link {
        display: flex;
        text-decoration: none;
        &__user {
            @include button;
        }
    }
    &__content {
        text-align: justify;
        padding-bottom: 1rem;
    }

    &__comments {
        &__form {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;

            &__box {
                width: 80%;
                border-radius: 5px;
            }

            &__button {
                @include button;
            }
        }
    }
    &__displaycomments {
        h2 {
            font-size: 1.2rem;
        }

        h3 {
            font-size: 1rem;
        }

        p {
            font-size: 0.8rem;
            font-style: italic;
        }

        &__list {
            border-bottom: black solid 1px;
            svg {
                width: .8rem;
                padding-right: 1rem;
            }
        }
    }
}
