.userpublications {
    margin: 0 25%;
    @media screen and (max-width: map-get($breakpoints, tablet)) {
        margin: 2rem 4%;
    }

    

    &__none {
        text-align: center;

        &__link {
            text-decoration: none;
            p {
                @include button;
            }
        }
    }

    h1 {
        text-align: center;
        font-size: 1.5rem;
    }

    &__display {
        border: 1px solid black;
        border-radius: $radius;
        padding: 0 5% 5% 5%;
        margin: 5% 0;

        &__link {
            text-decoration: none;
            color: black;

            &__content {
                overflow-wrap: break-word;
                white-space: pre-wrap;
                h2 {
                    text-align: center;
                    font-size: 1.2rem;
                }
                &__subtitle {
                    font-style: italic;
                    text-align: center;
                }

                &__delete {
                    @include button;
                    cursor: pointer;
                    float: right;
                    font-size: .8rem;
                }
            }
        }
    }
}
